body {
	background-color: #e3e3e3;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-left: 2%;
	min-width: 450px;
}

.row, .full, .two-third, .half, .third, .quarter {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	width: 100%;
	padding: 2% 0 0 10%;
	clear: both;
}

.full, .half, .third, .two-thirds, .quarter {
	display: block;
	float: left;
	padding: 0 0 0 1%;
}

.full {
	width: 98%;
}

.half {
	width: 48%;
}

.two-thirds {
	width: 64%;
}

.third {
	width: 32%;
}

.quarter {
	width: 24%;
}

.section-header {
	width: 100%;
	padding: 75px 0 0 10%
}

img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}