body {
	background-image: url('/images/wood.png');
	max-width: 1260px;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-left: 2%;
	min-width: 450px;
}

.row, .full, .two-third, .half, .third, .quarter {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	width: 100%;
	padding: 2% 0 0 10%;
	clear: both;
}

.full, .half, .third, .two-thirds, .quarter, .map-container {
	display: block;
	float: left;
	padding: 0 0 0 1%;
}

.full {
	width: 98%;
}

.half {
	width: 48%;
}

.two-thirds {
	width: 64%;
}

.third {
	width: 32%;
}

.quarter {
	width: 24%;
}

.map-container {
	width: 59.5%;
}

.section-header {
	width: 100%;
	padding: 75px 0 0 10%
}

.rsvp-icon, .accomodation-icon, .registry-icon, .contact-icon, .venue-icon {
	background-repeat: no-repeat;
	background-size: 55px;
}

.accomodation-icon {
	background-image: url('/images/accomodation-icon.png');
}

.rsvp-icon {
	background-image: url('/images/rsvp-icon.png');
}

.registry-icon {
	background-image: url('/images/registry-icon.png');
}

.contact-icon {
	background-image: url('/images/contact-icon.png');
}

.venue-icon {
	background-image: url('/images/venue-icon.png');
}

span.rsvp-icon, span.accomodation-icon, span.registry-icon, span.contact-icon, span.venue-icon {
		width: 55px;
		height: 55px;
		padding: 5px 2px 0 5px;
		float: left;
}

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}