#header {
	background-image: url(/images/background-blur.jpg); 
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	.header-image {
	width: 90%;
	padding: 0;
	}

	.nav {
		ul {
			padding: 10% 0 10% 17%;
			padding-left: 8%;
			li {
				display: inline;
				background-color: #e6663a;
				padding: 1.5% 2%;
				&:nth-child(1) {
					-webkit-border-radius: 5px 0 0 5px;
					-moz-border-radius: 5px 0 0 5px;
					border-radius: 5px 0 0 5px;
				}
				&:nth-child(3) {
					margin-right: 20%;
				}
				&:nth-child(6) {
					-webkit-border-radius: 0 5px 5px 0;
					-moz-border-radius: 0 5px 5px 0;
					border-radius: 0 5px 5px 0;
				}
				a {
					color: #fff;
				}
			}
		}
	}
	.blur-background {
		background: url(/images/couch-couple.jpg);
		height: 597px;
		width: 75%;
		margin: 0 auto;
	}
	.overlay {
		opacity: 0.6;
		width: 100%;
		padding: 0;
		background-color: black;
		top: 459px;
		left: -102px;
		clear: both;
		p {
			float: left;
			width: 30%;
			padding: 0;
			color: #fff;
			font-family: 'helvetica-nue';
			line-height: 20px;
		}
	}
}



