.no-bullets {
	list-style: none;
}

.inline {
	display: inline;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.left, .right {
	display: block;
	float: left;
}

.left {
	float: left;
}

.right {
	float: right;
}

.n0-padding {
	padding: 0;
}

.hide {
	display: none;
}