#rsvp:before {
    content: " ";
    display: block;
    position: relative;
    top:0px;
    left:0px;
    width:100%;
    height:30px;
    background: linear-gradient(#83859d 0%, transparent 0%), linear-gradient(135deg, #83859d 33.33%, transparent 33.33%) 0 0%, #83859d linear-gradient(45deg, #83859d 33.33%, #83859d 33.33%) 0 0%;
    background: -webkit-linear-gradient(#83859d 0%, transparent 0%), -webkit-linear-gradient(135deg, #83859d 33.33%, transparent 33.33%) 0 0%, #83859d -webkit-linear-gradient(45deg, #83859d 33.33%, #fff 33.33%) 0 0%;
    background: -o-linear-gradient(#83859d 0%, transparent 0%), -o-linear-gradient(135deg, #83859d 33.33%, transparent 33.33%) 0 0%, #83859d -o-linear-gradient(45deg, #83859d 33.33%, #83859d 33.33%) 0 0%;
    background: -moz-linear-gradient(#83859d 0%, transparent 0%), -moz-linear-gradient(135deg, #83859d 33.33%, transparent 33.33%) 0 0%, #83859d -moz-linear-gradient(45deg, #83859d 33.33%, #83859d 33.33%) 0 0%;
        background: -ms-linear-gradient(#83859d 0%, transparent 0%), -ms-linear-gradient(135deg, #83859d 33.33%, transparent 33.33%) 0 0%, #83859d -ms-linear-gradient(45deg, #83859d 33.33%, #83859d 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 10px 100%, 22px 38px, 22px 38px;
  }

#rsvp {
	min-height: 680px;
	background-color: #83859D;
	.section-header {
		h2 {
			color: white;
		}
		padding: 5% 0 0% 10%;
	}
}