$para-color: #595959;

.caps {
	text-transform: uppercase;
}

h1, h2 {
	font-family: 'Sullivan';
}

h1 {
	font-size: 150px;
}

h2 {
	font-size: 120px;
}

h3 {
	font-size: 24px;
	font-family: 'helvetica-nue';
}

p {
	color: $para-color;
	font-family: 'helvetica-nue';
	font-size: 16px;
	font-weight: 200;
}

