$para-color: #595959;

.caps {
	text-transform: uppercase;
}

.strong {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

h1, h2, h3 {
	font-family: 'Sullivan';
}

h1 {
	font-size: 150px;
}

h2 {
	font-size: 120px;
}

h3 {
	font-size: 90px;
}

h4, h5, h6 {
	font-family: 'helvetica-nue';
	color: $para-color;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 12px;
}

p, address, a {
	color: $para-color;
	font-family: 'helvetica-nue';
	font-size: 16px;
	font-weight: 200;
}

p, h4,h5,h6 {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	& hover {
		font-weight: bold;
	}
}