#venue {
	min-height: 550px;
	background-color: #E6663A;
	h4, h3, p, address, a {
		color: #fff;
	}
	.google-maps {
		margin-top: 10%;
		iframe {
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;	
			border-radius: 5px;	
		}
	}
	.triangle-box {
		width: 90%;
		border: 2px solid white;
		padding: 10px 5px;
		text-align: center;
		p {
			padding-top: 10px;
		}
	}
}