%div#accomodation
	%div.section-header
		%h2.caps Accomodations
	%div.row
		%div.third
			%p We consider ourselves lucky to have friends and family from across the globe that are both willing and (we can only hope) excited to make the trip out to Niagara’s wine country to celebrate with us in our sacred union of love and shared assets. That being said, we know that having to travel to a wedding that isn’t your own can, at times, be a huge pain.
			%p It’s cool, we get it. That’s why we’re
		%div.third
			%p doing what we can to make your attendance as simple as possible. We’ve blocked off rooms in two separate hotels and have arranged for a bus to transport you to and from the venue. Of course, that doesn’t mean you must stay in one of these two hotels. Got a favorite little B&B on the outskirts of town? Do it up! Recently discovered that a distant deceased relative has left you a fortune that can
		%div.third
			%p only be accessed if you promise to stay in their dilapidated and almost certainly haunted house in Thorald for one night? Have at it! 
			%p There is ample parking at Honsberger but we encourage you to make use of the shuttle bus even if it just means taking a cab to and from the pick-up locations. Celebrations will be in full force and the wine will flow like ice wine so, of course, driving is not a necessity.
	%div.row		
		%div.two-thirds
			%h4 Find a place to stay
			%p Accommodation goes quickly in the Niagara area so we've blocked off some rooms in Jordan and Niagara Falls because we like you and want you to come.
			%div.half
				%h5.strong Ramada Plaza Niagara Falls
				%p 7389 Lundy's Lane, Niagara Falls Friday, June 6th, 2014 – $94.99 + tax Saturday, June 7th, 2014 – $114.99 + tax
				%a{:href => "www.ramadaplazaniagara.com "} www.ramadaplazaniagara.com 
				%p Code: GRIFFIN/LITTLE Phone: 905-356-6116 Quote: Griffin/Little Wedding Block
				%h5 Book by Friday May 9, 2014!
			%div.half
				%h5.strong Ramada Jordan/Beacon Harbourside Resort
				%p 2793 Beacon Boulevard, Jordan Station Saturday, June 7th, 2014 – $169.95 + tax
				%p Phone: 1-905-562-4155 Quote: Griffin/Little Wedding
				%h5 Book by April 13, 2014!
		%div.third
			%h4.strong Shuttle Bus Schedule 
			%p 2pm – Pick-up #1 at the Ramada Inn Niagara Falls (7389 Lundy’s Lane, Niagara Falls)
			%p 2:30pm – Pick-up #2 at the Ramada Jordan/Beacon Harbourside Resort (2793 Beacon Boulevard, Jordan Station)
			%h5.strong Drop off at Honsberger Estate
			%p 11:30pm – Pick-up #1 at Honsberger Estate, drop off at hotels
			%p 1:00am – Pick-up #2 at Honsberger Estate, drop off at hotels
	%div.clear
%div.clear