%div#accomodation
	%div.section-header
		%h2.caps Accomodations
	%div.row
		%div.third
			%p We consider ourselves lucky to have friends and family from across the globe that are both willing and (we can only hope) excited to make the trip out to Niagara’s wine country to celebrate with us in our sacred union of love and shared assets. That being said, we know that having to travel to a wedding that isn’t your own can, at times, be a huge pain.
			%p It’s cool, we get it. That’s why we’re
		%div.third
			%p doing what we can to make your attendance as simple as possible. We’ve blocked off rooms in two separate hotels and have arranged for a bus to transport you to and from the venue. Of course, that doesn’t mean you must stay in one of these two hotels. Got a favorite little B&B on the outskirts of town? Do it up! Recently discovered that a distant deceased relative has left you a fortune that can
		%div.third
			%p only be accessed if you promise to stay in their dilapidated and almost certainly haunted house in Thorald for one night? Have at it! 
			%p There is ample parking at Honsberger but we encourage you to make use of the shuttle bus even if it just means taking a cab to and from the pick-up locations. Celebrations will be in full force and the wine will flow like ice wine so, of course, driving is not a necessity.
	%div.row		
		%div.two-thirds
			%h3 Find a place to stay
			%p Accommodation goes quickly in the Niagara area so we've blocked off some rooms in Jordan and Niagara Falls because we like you and want you to come.
