%div#contact
	%div.section-header
		%h2.caps @ Contact
	%div.row
		%div.full
			%p For any questions, comments or concerns, don’t hesitate to contact us at: <a href="mailto:littlegriffinwedding@gmail.com">littlegriffinwedding@gmail.com</a>. 