#header
	.nav
		%img.logo{:src => "/images/header-logo.png", :alt => "Little Griffin Wedding Logo"}/ 
		%ul
			%li.caps 
				%a{:href => "#home"} Home
			%li.caps 
				%a{:href => "#venue"} Venue
			%li.caps 
				%a{:href => "#accomodation"}Accomodation 
			%li.caps
				%a{:href => "#registry"} Registry
			%li.caps
				%a{:href => "#rsvp"} RSVP
			%li.caps
				%a{:href => "#contact"} Contact
	.marketing
		%img{:src => "/images/couch-couple.jpg", :alt => "Mike and Kelsey on thier couch."}/ 
		%p Hello! If you are reading this, you are aware that we (Mike and Kelsey) are getting married to each other. I know, good for us, right? We should definitely all get together to celebrate our decision to be lifelong roommates/best friends. June 7th, 2014 is as good a time as any so please join us as we express our love for each other, our family, and our friends through public displays of affection encouraged, as they often are, by open-bar levels of alcohol.
.clear