%div.header
	%div.nav
		%ul.inline
			%li 
				%a{:href => "#"} Home
			%li 
				%a{:href => "#"} Venue
			%li 
				%a{:href => "#"} Accomodation
			%li 
				%a{:href => "#"} RSVP
			%li 
				%a{:href => "#"} Registry
			%li 
				%a{:href => "#"} Contact