%div.header
	%div.nav
		%ul.no-bullets
			%li.inline
				%a{:href => "#"} Home
			%li.inline 
				%a{:href => "#"} Venue
			%li.inline 
				%a{:href => "#"} Accomodation
			%li.inline 
				%a{:href => "#"} RSVP
			%li.inline 
				%a{:href => "#"} Registry
			%li.inline 
				%a{:href => "#"} Contact