#header
	.section-header
		.nav
			%ul 
				%li 
					%a{:href => ""} Home
				%li 
					%a{:href => ""} Venue
				%li 
					%a{:href => ""}Accomodation
				%li
					%a{:href => ""} Registry
				%li 
					%a{:href => ""} RSVP
				%li
					%a{:href => ""} Contact
	.row 
		.full
			%img.header-image{:src => "/images/couch-couple.jpg", :alt => "Kelsey and Mike chilling on the couch."}/ 
	.clear