#registry
	%div.section-header
		%h2.caps Registry
	%div.row
		%div.half
			%p We honestly feel as though just having you attend our wedding is gift enough. However, if you are feeling generous, we are registered at Hudson’s Bay. 
			%br 
			%p Registry Number – 400115234619
		%div.half
			%img{:src => "/images/couple-1.jpg", :alt => "Mike & Kelsey chilling."} 
			%img{:src => "/images/couple-2.jpg", :alt => "Mike & Kelsey on a boat!"}
	%div.clear

