%div#venue
	%div.row
		%div.third
			%h3.caps Venue
			%h4 Honsberger Estate
			%a{:href => "www.honsbergerestate.wordpress.com"} www.honsbergerestate.wordpress.com
			%br/ 
			%br/ 
			%address 4060 Jordan Road, Jordan Station, ON, Canada
			%p Located in Jordan, Ontario, just a short drive from Niagara Falls.
			%p For more information on the area, visit Twenty Valley Tourism at:
			%a{:href => "http://www.20valley.ca"}
				%div.triangle-box
					%p www.20valley.ca 
		%div.two-thirds
			%div.google-maps 
				%iframe{frameborder: "0", height: "500", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2910.5975340183336!2d-79.362402!3d43.154979999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d352bf02a76fbf%3A0xd5a6ce0b612e7543!2s4060+Jordan+Road%2C+Jordan+Station%2C+ON%2C+Canada!5e0!3m2!1sen!2sca!4v1387997004053", style: "border:0", width: "600"} 
	%div.clear