%div#intro
	%figure.lrg-marketing
		%img{:src => "#", :alt => "Mike and Kelsey smiling"}
		%caption 
			%p Hello! If you are reading this, you are aware that we (Mike and Kelsey) are getting married to each other. I know, good for us, right? We should definitely all get together to celebrate our decision to be lifelong
			%p roommates/best friends. June 7th, 2014 is as good a time as any so please join us as we express our love for each other, our family, and our friends through public displays of affection 
%div#venue

%div#accomodation
%div#rsvp
%div#register
%div#contact